<h1><%= I18n.t 'main.collaborators'%></h1>
<hr/>
<div class="row">
    <% @users.each do |user| %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body center">
          <%= image_tag user.avatar, class: 'avatar avatar-half' %><br/>
          <h2>
            <%= link_to user.username, "/#{user.username}" %>
          </h2>
          <% if user.bio && user.bio.length > 0 %>
            <hr/>
            <p><%= sanitize(truncate(user.bio, length: 80)) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
</div>