<h1 class="display-1"><%= I18n.t 'main.collaborators'%></h1>
<hr/>
<% @users.each do |user| %>
    <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-1 left">
            <%= image_tag user.avatar, class: 'avatar' %> 
            
            </div>
            <div class="col-md-11 right">
                <h2>
                <%= link_to user.username, "/#{user.username}" %>
                </h2>
            </div>
        </div>
      <hr/>
      <p><%= sanitize(truncate(user.bio, length: 256)) %></p>
    </div>
    
  </div><% end %>