<h1 class="display-1">Meetups</h1>
<hr/>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Navigation tools for Meetups">
    <div class="btn-group mr-2" role="group" aria-label="Ordering">
      <button type="button" class="btn btn-secondary">Date</button>
      <button type="button" class="btn btn-secondary">Title</button>
      <button type="button" class="btn btn-secondary">Category</button>
      <button type="button" class="btn btn-secondary">Assistant no.</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Add a meetup">
      <% if user_signed_in? %>
        <%= link_to new_meetup_path, class:'btn btn-primary' do
          I18n.t 'meetup.host_yours'
        end %>
      <% else %>
        <%= link_to new_user_registration_path, class:'btn btn-primary' do
          I18n.t 'meetup.host_yours'
        end %>
      <% end %>
    </div>
</div>