<h1><%= I18n.t 'meetup.host_yours' %></h1>
<br/>
<div class="alert alert-light" role="alert">
  <%= t('meetup.instructions').html_safe %>
</div>
<br/>
<%= render 'validation_errors' %>
<%= render 'form' %>