<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= I18n.t 'notification_mailer.greeting', user: @user.username %></h1>
    <% if @activity.objective_type == 'Assistance' %>
      <p><%= I18n.t 'notification_mailer.notify_activity.body', user: @user.username, activity: @activity.objective.review%></p>
    <% else %>
      <p><%= I18n.t 'notification_mailer.notify_activity.body', user: @user.username, activity: @activity.objective.title%></p>
    <% end %>
  </body>
</html>
