<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="container value pt-5 pb-5">
  <a href="/"><img class="big-logo" src="<%= root_url %>/logo_base.svg" alt="INFUSIÓN"/></a>
  <br/><br/>
  <h2 id="subtitles-pages">CODI DE CONDUCTA</h2>
</div>
<section class="magenta value pt-4 pb-4">
  <div class="row col-sm-12">
    <div class="col-sm-12 col-md-4 text-center">
      <h2>
        <i class="fa fa-comment-o large-text fa-4x fa-inverse" aria-hidden="true"></i>
      </h2>
      <div class="container pl-4 pr-4">
        <p class="text-white">
          Respecta les opinions del&#39s altres
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 text-center">
      <h2>
        <i class="fa fa-balance-scale large-text fa-4x fa-inverse" aria-hidden="true"></i>
      </h2>
      <div class="container pl-4 pr-4">
        <p class="text-white">
          Tracta als altres com iguals
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 text-center">
      <h2>
        <i class="fa fa-handshake-o large-text fa-4x fa-inverse" aria-hidden="true"></i>
      </h2>
      <div class="container pl-4 pr-4">
        <p class="text-white">
          Consensua i dialoga, enriquix-te amb la diversitat
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container pt-5">
  <h2 class="blue-text">INTRODUCCIÓ</h2>
    <p>
      En INFUSIÓN pensem que la diversitat és una font de riquesa en tots els àmbits i per això ha de ser promoguda i preservada, partint del respecte.
    </p>
      Aquest espai naix de la voluntat d&#39apropar a les persones la tecnologia, a les que d&#39un altre mode no tindrien accés, d&#39una forma
      divertida y participativa. A mes, el nostre propòsit és aprofitar aquest espai segur y positiu per promoure la diversitat
      a través dels tallers i projectes.
    </p>
    <p>
      Tot el mon té puesto en aquest projecte i esperem que us sintau acollits per tots els membres.
      Cal respectar totes les opinions, intentant mantindre un ambient cordial y respectuós fins i tot quan es realitzen debats
      on existeixen diverses opinions.
    </p>
    <h2 class="magenta-text">EVENTS I TALLERS</h2>
    <p>
      Recorda que en aquest espai cap persona podrà ser jutjada per la seua edat, sexe, nivell tècnic, ideologia, creencies, sexualitat o qualsevol
      característica que el puga diferenciar-lo de la resta.
      Siga puntual a l&#39hora d&#39acudir als eventes i evite generar sorolls o realitzar qualsevol acció que puga incomodar al ponent.
      Totes les sues dudes son benvingudes, però recorde demanar el torn de paraula i no interrompre a la resta de persones.
    </p>
    <p>
      Moltes vegades els organitzadors ficaran a la dispocició dels participants material per realitzar l&#39activitat.
      Sempre cal cuidar i respectar el material prestat. Si no és d&#39aquest mode, la persona implicada podria ser expulsada de l&#39 activitat.
    <p>
    </p>
      Qualsevol falta de respecte tindrá en conseqüència les mides necessàries per que no passe un altra vegada.
    </p>
    <h2 class="blue-text">APLICACIÓ WEB</h2>
    <p>
      Tot el mon està invitat a organitzar el seu propi taller i proposar-ho a través de l&#39aplicació web.
      La propia comunitat escollirà el próxim taller de entre tots el proposats (sempre respectant la disponibilitat d&#39els ponents).
      Si us plau, tracta de ser respetuós a l&#39hora de deixar la teua valoració del taller.
    </p>
    <h2 class="magenta-text">REPORTS</h2>
    <p>
      Qualsevol contingut que siga considerat dins de les següents categories,
      o que atempte contra la dignitat o seguretat de qualsevol persona, serà susceptible de ser reportat:
      <ul class="list-group">
        <li class="list-group-item">SPAM</li>
        <li class="list-group-item">Incitació a l&#39odi</li>
        <li class="list-group-item">Amenaces i insults</li>
        <li class="list-group-item">Pornografia</li>
      </ul>
    </p>
    <p>
      Tots els membres de la comunitat poden reportar aquestes conductes, sempre mantenint l&#39anonimat
    </p>
  </div>
</section>

