<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="container value pt-5 pb-5">
  <a href="/"><img class="big-logo" src="<%= root_url %>/logo_base.svg" alt="INFUSIÓN"/></a>
  <br/><br/>
  <h2 id="subtitles-pages">CÓDIGO DE CONDUCTA</h2>
</div>
<section class="magenta value pt-4 pb-4">
  <div class="row col-sm-12">
    <div class="col-sm-12 col-md-4 text-center">
      <h2>
        <i class="fa fa-comment-o large-text fa-4x fa-inverse" aria-hidden="true"></i>
      </h2>
      <div class="container pl-4 pr-4">
        <p class="text-white">
          Respeta las opiniones de los demás
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 text-center">
      <h2>
        <i class="fa fa-balance-scale large-text fa-4x fa-inverse" aria-hidden="true"></i>
      </h2>
      <div class="container pl-4 pr-4">
        <p class="text-white">
          Trata a los demás como iguales
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 text-center">
      <h2>
        <i class="fa fa-handshake-o large-text fa-4x fa-inverse" aria-hidden="true"></i>
      </h2>
      <div class="container pl-4 pr-4">
        <p class="text-white">
          Consensúa y dialoga, enriquécete con la diversidad
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container pt-5">
  <h2 class="blue-text">INTRODUCCIÓN</h2>
    <p>
      En INFUSIÓN creemos que la diversidad es una fuente de riqueza en todos los ámbitos y por eso debe ser promovida y preservada desde el respeto.
    </p>
      Este espacio nace con la voluntad de acercar a las personas tecnologías, a las que de otro modo probablemente no tengan acceso, de una forma
      divertida y participativa. Además, nuestro propósito es aprovechar este espacio seguro y positivo para promover la diversidad a través de los
      mismos talleres o proyectos.
    </p>
    <p>
      Todo el mundo tiene cabida en este proyecto y esperamos que se sientan acogidos por todos los miembros.
      Todas las opiniones deben de ser respetadas, se tiene que intentar mantener un ambiente cordial y respetuoso incluso cuando se realicen debates
      donde existan diversas opiniones.
    </p>
    <h2 class="magenta-text">EVENTOS Y TALLERES</h2>
    <p>
      Recuerda que en este espacio ninguna persona puede ser juzgada por su edad, sexo, nivel técnico, ideología, creencias, sexualidad o cualquier
      otra característica que le pueda diferenciar del resto. Sé puntual a la hora de acudir a los eventos y evita generar ruido o realizar cualquier
      acción que pueda incomodar o distraer al ponente. Todas tus dudas son bienvenidas, pero recuerda pedir el turno de palabra y no interrumpir al
      resto de miembros.
    </p>
    <p>
      Muchas veces los organizadores pondrán a disposición de los participantes materiales para la realización de la actividad.
      En todo momento se tiene que cuidar y respetar el material prestado. Si no es de este modo, la persona implicada podría ser expulsada de la actividad.
    <p>
    </p>
      Cualquier falta de respeto tendrá en consecuencia las medidas necesarias para que no vuelva a ocurrir.
    </p>
    <h2 class="blue-text">APLICACIÓN WEB</h2>
    <p>
      Todo el mundo está invitado a organizar su propio taller y proponerlo a través de la aplicación web.
      Será la propia comunidad quien escoja el próximo taller de entre las diferentes propuestas (siempre respetando la disponibilidad de los/las ponentes).
      Por favor, trata de ser lo más respetuoso/a posible a la hora de valorar los talleres.</p>
    <h2 class="magenta-text">REPORTES</h2>
    <p>
      Cualquier contenido que sea considerado dentro de las siguientes categorías,
      o que en definitiva atente contra la dignidad o la seguridad de cualquier persona, será susceptible de ser reportado:
      <ul class="list-group">
        <li class="list-group-item">SPAM</li>
        <li class="list-group-item">Incitación al odio</li>
        <li class="list-group-item">Amenazas o insultos</li>
        <li class="list-group-item">Pornografía</li>
      </ul>
    </p>
    <p>
      Todos los miembros de la comunidad pueden reportar estas conductas, siempre desde el anonimato.
    </p>
  </div>
</section>

