<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="container value pt-5 pb-5">
  <a href="/"><img class="big-logo" src="<%= root_url %>/logo_base.svg" alt="INFUSIÓN"/></a>
  <br/><br/>
  <h2 id="subtitles-pages">CODE OF CONDUCT</h2>
</div>
<section class="magenta value pt-4 pb-4">
  <div class="row col-sm-12">
    <div class="col-sm-12 col-md-4 text-center">
      <h2>
        <i class="fa fa-comment-o large-text fa-4x fa-inverse" aria-hidden="true"></i>
      </h2>
      <div class="container pl-4 pr-4">
        <p class="text-white">
          Respect others&#39 opinions
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 text-center">
      <h2>
        <i class="fa fa-balance-scale large-text fa-4x fa-inverse" aria-hidden="true"></i>
      </h2>
      <div class="container pl-4 pr-4">
        <p class="text-white">
          Treat others as equals
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 text-center">
      <h2>
        <i class="fa fa-handshake-o large-text fa-4x fa-inverse" aria-hidden="true"></i>
      </h2>
      <div class="container pl-4 pr-4">
        <p class="text-white">
          Consensus and dialogue, enrich yourself with diversity
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container pt-5">
  <h2 class="blue-text">INTRODUCTION</h2>
    <p>
      At INFUSION we believe that diversity is a source of richness in all scopes. It has to be promoted and preserved with respect.
    </p>
      This place starts with the desire of connect people with technologies, which probably they do not have access. We pretend to do this in a fun
      and easy way. Also our purpose is to use this secure and positive place to promote the diversity through the projects and workshops.
    </p>
    <p>
      Everyone can join this project, and we hope that they feel welcomed by our members.
      All the opinions must be respected, we have to build a cordial and respectful place, even when we have a dabate with diffrent opinions.
    </p>
    <h2 class="magenta-text">EVENTS AND WORKSHOPS</h2>
    <p>
      In this place nobody could be judged by his sexuality, technic level, age, beliefs, gender or whatever characteristic what could make him
      different of the others.
      Be punctual when you come to the events, and avoid to make noises or whatever action that could distract the speaker.
      All your doubts are welcomed, but remember to wait for your speaking time, and do not interrupt the rest of the people.
    </p>
    <p>
      Sometimes the speaker will give to the participants materials to do the workshop.
      In every moment you have to care and respect the given material. If you damage the material, you will be expulsed of the activity.
    <p>
    </p>
      Any disrespectful act will have consequences. We will adopt the necessary measures.
    </p>
    <h2 class="blue-text">WEB APPLICATION</h2>
    <p>
      Everyone is invited to organize his own workshop and propose it on the web application.
      The community will be who chose the next workshop among the different proposals (allways respecting the availability of the speaker).
      Please, try to be the most respectful as you could at the time of evaluate the workshops.
    </p>
    <h2 class="magenta-text">REPORTS</h2>
    <p>
      Whatever content which could be considered inside this categories,
      which harms the dignity and security of the people, will be susceptible of being banned:
      <ul class="list-group">
        <li class="list-group-item">SPAM</li>
        <li class="list-group-item">Hate speech</li>
        <li class="list-group-item">Insults and threats</li>
        <li class="list-group-item">Pornography</li>
      </ul>
    </p>
    <p>
      All members of the community can report this conducts, always from the anonimate.
    </p>
  </div>
</section>

