  <header class="main-header show-tell-header">
    <div class="container center">
      <%= link_to root_path do %>
        <h1>
          <img class="big-logo" src="logo_base.svg" alt="INFUSIÓN"/>
        </h1>
      <% end %>
        <h1 class="landing-title">show & tell</h1>
        <h2 class="landing-date">PONENTES</h2>
   </div>
  </header>
<section id="event event-decription" class="container">
  <br/><br/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/patriciapons.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://twitter.com/patrypons" target="_blank"><img src="twitter.png" /></a>
        <a href="https://www.linkedin.com/in/patriciaponstomas/" target="_blank"><img src="linkedin.png" /></a>
        <a href="https://patriciaponstomas.wordpress.com/" target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">Patricia Pons</h3>
      <h4 class="blue-text">Estudiante de Doctorado en Informática</h4>
      <p>Patricia es Ingeniera Informática por la Universidad Politécnica de Valencia, donde también finalizó sus estudios de Máster en Ingeniería del Software en 2013.</p>
      <p>Actualmente es estudiante de Doctorado en Informática en el grupo de Ingeniería del Software y Sistemas de Información del DSIC (UPV) con una beca FPU.</p>
      <p>Amante de los animales, su tesis se centra en el desarrollo de <span class="pink-text">entornos interactivos naturales para animales</span> que ayuden a mejorar su bienestar, y que permitan una mejor relación entre distintas especies y los humanos. </p>
      <p>Preside el capítulo de estudiantes <span class="pink-text">ACM-W UPV</span> desde donde, entre otros, coorganiza la celebración española de ACM-W: Informática para tod@s para visibilizar a la mujer en la tecnología.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/antoniomora.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://twitter.com/ToniAppsStudios" target="_blank"><img src="twitter.png" /></a>
        <a href="https://www.toniapps.es/" target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">Antonio Mora Rives</h3>
      <h4 class="blue-text">Estudiante de Informática</h4>
      <p>Antonio está estudiando primero de Ingeniería Informática, aunque programa desde los 10 años.</p>
      <p>Actualmente está trabajando en <span class="pink-text">Raccoon Project</span>, un framework web low-code desarrollado en PHP destinado a que cualquier persona sin conocimientos avanzados de programación pueda crear su propia web.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/andrealopez.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://twitter.com/andrealcas" target="_blank"><img src="twitter.png" /></a>
        <a href="https://es.linkedin.com/in/andrea-l%C3%B3pez-castillo-152a7b5b" target="_blank"><img src="linkedin.png" /></a>
        <a href="https://twitter.com/witsstories?lang=es" target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">Andrea López Castillo</h3>
      <h4 class="blue-text">Ingeniera Informática</h4>
      <p>Comenzó su vida laboral en Madrid, pero un verano probó el <span class="pink-text">surf</span> y decidió cambiar su rumbo profesional dedicándose a desarrollar un dispositivo para surfistas.</p>
      <p>Ha trabajado en Valencia y Hong Kong en el mundo de las startups, principalmente en proyectos relacionados con los deportes y el salvamento.</p>
      <p>Actualmente se dedica profesionalmente al mundo del <span class="pink-text">comercio electrónico.</span></p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/jvmanjon.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://es.linkedin.com/in/jose-vicente-manjon-241ab42b" target="_blank"><img src="linkedin.png" /></a>
        <a href="http://personales.upv.es/jmanjon/" target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">José Vicente Manjón Herrera</h3>
      <h4 class="blue-text">Medical Imaging area Lead at ITACA institute</h4>
      <p>José Vicente es docente en el Departamento de Física Aplicada de la UPV y doctor en Inteligencia Artificial y Reconocimiento de Formas.</p>
      <p>Ha participado en numerosas investigaciones relacionadas con el procesamiento y análisis de imágenes médicas y ha desarrollado <span class="pink-text">volBrain</span>, un sistema online para el procesamiento de imágenes de resonancia magnética cerebral.</p>
      <p>Actualmente forma parte del equipo investigador del IBIME y dirige el área de <span class="pink-text">imagen médica</span> en el instituto ITACA.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/robertaloporto.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://twitter.com/rokitana" target="_blank"><img src="twitter.png" /></a>
        <a href="https://www.linkedin.com/in/robertaloporto" target="_blank"><img src="linkedin.png" /></a>
        <a href="https://womentechmakersvalencia.com/" target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">Roberta Lo Porto</h3>
      <h4 class="blue-text">Women Techmakers Lead @wtmvalencia</h4>
      <p>Siciliana de pura sangre, desarrolla una pasión precoz por la pizza y la gráfica.</p>
      <p>Licenciada en audiovisual, Roberta es una nómada de las <span class="pink-text">artes visuales</span> siempre balanceándose entre la gráfica, el video y la fotografía.</p>
      <p>Co-fundadora de <span class="pink-text">Mosaico Coworking</span>, lleva siempre consigo su macbook, se sumerge en Startups y sigue comiendo pizza en Valencia. 🍕</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/tonialcalde.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://twitter.com/RandUPVStudent" target="_blank"><img src="twitter.png" /></a>
        <a href="https://www.linkedin.com/in/toni-alcalde-34672a143" target="_blank"><img src="linkedin.png" /></a>
        <a href="https://www.visualfy.com/es/" target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">Toni Alcalde</h3>
      <h4 class="blue-text">Desarrollador de software en Visualfy</h4>
      <p>Estudió el Grado en Ingeniería informática y el Máster en Computación Paralela y Distribuida en la ETSINF entre 2011 y 2016.</p>
      <p>En el 2017 comenzó a trabajar como desarrollador de C/C++, Matlab y Android en <span class="pink-text">Visualfy</span>, una empresa que desarrolla productos y servicios para <span class="pink-text">personas sordas o con pérdida auditiva</span> y continúa hasta hoy.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/lorenaosorio.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://twitter.com/lorenaosoriodg" target="_blank"><img src="twitter.png" /></a>
      </div>
      <h3 class="pink-text">Lorena Osorio</h3>
      <h4 class="blue-text">Estudiante de Diseño Gráfico</h4>
      <p>Creadora de <span class="pink-text">COVI</span>, un proyecto gráfico social de visibilización de la situación de las colonias de gatos de los jardines de Viveros y la labor de los voluntarios que los cuidan.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/taleofstars.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://twitter.com/ttosgame" target="_blank"><img src="twitter.png" /></a>
        <a href="https://www.instagram.com/thetaleofstars/  " target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">Tale of Stars</h3>
      <h4 class="blue-text">Diseño y desarrollo de Videojuegos</h4>
      <p>Ángel Sánchez García y Cristian Cañadas Vacas, estudiantes de Informática en la UPV junto a Esther Fernández Palou, estudiante de Bellas Artes, están desarrollando una <span class="pink-text">Visual Novel</span> para Android utilizando Unity. La realización del proyecto está contemplada como TFG de emprendimiento contando con el apoyo de <span class="pink-text">Start.inf</span>.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/irenemilian.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://twitter.com/Irene_Milian" target="_blank"><img src="twitter.png" /></a>
        <a href="https://es.linkedin.com/in/irenemilian" target="_blank"><img src="linkedin.png" /></a>
        <a href="http://irenemilian.com/" target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">Irene Milián</h3>
      <h4 class="blue-text">Ingeniera de Personas</h4>
      <p>De formación ingeniera de organización industrial, inteligencia emocional y PNL. 5 años como project manager en empresas industriales.</p>
      <p>Los últimos 3, ya como “ingeniera de personas”, liderando <span class="pink-text">startups sociales</span> de nuevas tecnologías (drones y VR) y formadora de competencias del profesional y empresa del (con) futuro: productividad y marca personal.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/joseantonioperezgarcia.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://twitter.com/upvigem?lang=es" target="_blank"><img src="twitter.png" /></a>
        <a href="https://www.linkedin.com/company/valencia-upv-igem/?originalSubdomain=es" target="_blank"><img src="linkedin.png" /></a>
        <a href="http://2017.igem.org/Team:Valencia_UPV" target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">José Antonio Pérez García</h3>
      <h4 class="blue-text">Estudiante de Informática</h4>
      <p>José Antonio está en el último año del Grado en Ingeniería Informática. El año pasado, él junto con 12 compañeros de la UPV realizaron un proyecto para <span class="pink-text">iGEM</span>, una competición a nivel mundial de biología sintética, teniendo que presentarlo frente a más de 300 grupos de todo el mundo en Boston.</p>
      <p>Ahora está enamorado de la mezcla entre la informática y la biología, y por eso está haciendo sus prácticas en <span class="pink-text">Biobam</span>, una empresa de bioinformática en el CIPF.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/mercedesegido.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://twitter.com/laponyo" target="_blank"><img src="twitter.png" /></a>
        <a href="http://linkedin.com/in/mercedesegido" target="_blank"><img src="linkedin.png" /></a>
      </div>
      <h3 class="pink-text">Mercedes Egido</h3>
      <h4 class="blue-text">Front-end developer</h4>
      <p>Estudió <span class="pink-text">Comunicación Audiovisual</span> pero rápidamente cambió el "Audiovisual" por "Digital". Siempre ha trabajado en el sector en consultorías, agencias de publicidad y gestión de proyectos.</p>
      <p>Los últimos años trabajó con un equipo de programación haciendo tareas de gestión de proyectos y diseño de productos digitales. Siempre con ganas de aprender y poniendo <span class="pink-text">foco en las personas</span>. Hizo un bootcamp de programación y ahora trabaja como front-end developer.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/marcdiago.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://www.linkedin.com/in/marc-diago/" target="_blank"><img src="linkedin.png" /></a>
        <a href="http://pymapp.me/" target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">Marc Diago</h3>
      <h4 class="blue-text">Estudiante de Informática</h4>
      <p>Marc se encuentra acabando el Grado de Ingeniería Informática y está desarrollando una aplicación junto a otros compañeros del curso.</p>
      <p>Esta app es <span class="pink-text">PymApp</span>, la cual ofrece un espacio a los pequeños y medianos comercios para darse a conocer sin tener que invertir en una página web propia.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/emmalopez.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://twitter.com/hell03610" target="_blank"><img src="twitter.png" /></a>
        <a href="http://vlctechhub.org" target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">Emma López</h3>
      <h4 class="blue-text">VLCTechHub</h4>
      <p>VlcTechHub promueve y fomenta las distintas comunidades tecnológicas de Valencia. Para ello cuenta con una agenda de eventos, un tablón de ofertas de trabajo, un chat donde la comunidad puede compartir y el evento VlcTechFest.</p>
      <p>Emma se encuentra a gusto entre el <span class="pink-text">desarrollo software</span> y <span class="pink-text">gestión de proyectos</span>, acostumbrada a trabajar en remoto para empresas de producto con corazón ágil. </p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/israelsanjurjo.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://r69yf.app.goo.gl/infusion" target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">Israel Sanjurjo</h3>
      <h4 class="blue-text">Estudiante de Informática</h4>
      <p>Israel actualmente estudia segundo curso del Grado en Ingeniería informática. Empezó a programar por diversión, pero el desarrollo ha acabado siendo parte de su vida. Hace algo más de medio año empezó un proyecto serio, <span class="pink-text">Shining Shapes Orbital 2</span>, su segundo juego disponible en <span class="pink-text">Google Play Store</span>.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/claracobo.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <h3 class="pink-text">Clara Cobo</h3>
      <h4 class="blue-text">Estudiante de Magisterio</h4>
      <p>Clara está finalizando sus estudios en <span class="pink-text">Audición y Lenguaje</span>. Tiene experiencia en la enseñanza y la integración de alumnado con trastornos del espectro autista. Actualmente está desarrollando <span class="pink-text">PESA</span>, un proyecto para la adaptación de material didáctico para personas con problemas de comunicación.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/borjaalonso.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <h3 class="pink-text">Borja Alonso Melero</h3>
      <h4 class="blue-text">Estudiante de Informática</h4>
      <p>Apasionado de la tecnología. Desde pequeño sintió curiosidad por cómo  funcionaba el interior de cualquier dispositivo y, es por ello, que  empezó a estudiar informática.</p>
      <p>Decidió meterse en el mundo del <span class="pink-text">emprendimiento</span> con varios compañeros para vivir una nueva experiencia  y afrontar nuevos retos en su vida. Siempre se ha interesado más por  el ámbito de aplicaciones móviles.</p>
      <p>Actualmente trabaja como desarrollador junto con dos compañeros en <span class="pink-text">Journify</span>, una aplicación para compartir coche en tus trayectos diarios  para así ahorrar tiempo y dinero y colaborar en la preservación del  medioambiente.</p>
    </div>
  </div>
  <hr/>
  <div class="speaker row">
    <div class="col-sm-12 col-md-3">
      <img src="speakers/manumaldonado.png" class="huge-logo">
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="social-links">
        <a href="https://www.linkedin.com/in/maldonadoruizmanuel/" target="_blank"><img src="linkedin.png" /></a>
        <a href="https://www.comeat.es/" target="_blank"><img src="link.png" /></a>
      </div>
      <h3 class="pink-text">Manuel Maldonado</h3>
      <h4 class="blue-text">CEO at COME - Reinventing your meals</h4>
      <p>Manuel es un joven emprendedor al que le encanta descubrir nuevas oportunidades de negocio y sacar provecho de las tecnologías más innovadoras.</p>
      <p>Apasionado sobre el <span class="pink-text">marketing</span> y la <span class="pink-text">gestión empresarial</span>, disfruta explorando nuevas oportunidades de negocio y aplicando a las tareas diarias los conocimientos adquiridos en IT durante su carrera de Ingeniería Informática.</p>
      <p>Actualmente es el <span class="pink-text">CEO de COME</span>, una plataforma digital que está revolucionando la forma en la que consumimos en restaurantes</p>
    </div>
  </div>
  <hr/>
</section>
<section id="collaborators">
  <div class="container center">
    <p><%= I18n.t 'landing.collaborators' %></p>
    <a href="http://startinf.blogs.upv.es/" target="_blank"><img class="med" alt="start.inf" src="/startinf.png"/></a>
    <a href="http://acmupv.webs.upv.es/" target="_blank"><img class="med" alt="ACM UPV Chapter" src="/acmupv.png"/></a>
    <a href="https://www.inf.upv.es/www/etsinf/es/" target="_blank"><img class="med" alt="ETSINF UPV" src="/etsinf.png"/></a>
  </div>
</section>
<section id="networks">
  <div class="container center">
    <h2><%= I18n.t "main.networks" %></h2>
    <a href="https://twitter.com/infusionvlc"><img class="small" alt="Twitter" src="/twitter.png"/></a>
    <a href="https://instagram.com/infusion_vlc"><img class="small" alt="Instagram" src="/instagram.png"/></a>
    <a href="https://www.youtube.com/channel/UCP5URDPxiT1Nd8LDVmShN5Q"><img class="small" alt="YouTube" src="/youtube.png"/></a>
    <a href="https://t.me/infusionvlc"><img class="small" alt="Telegram" src="/telegram.png"/></a>
    <a href="https://medium.com/infusión"><img class="small" alt="Medium" src="/medium.png"/></a>
  </div>
</section>

<p class="container center"><small>Icons by Made by Made, ShmidtSergey, Vectors Market, Maxim Basinki, Mahmure Alp, Ben Davis, Dinosoft Labs, Gregor Cresnar, Maxim Kulikov, Kidiladon, Adrien Coquet, StoneHub, Three Six Five, Celeste Njoo.</small></p>

<script>
// Set the date we're counting down to
var countDownDate = new Date("May 24, 2018 17:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "EXPIRED";
  }
}, 1000);
</script>