<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= I18n.t 'meetup_mailer.greeting', user: @user %></h1>
    <p><%= I18n.t 'meetup_mailer.body', user: @user, meetup: @meetup, date: @date %></p>
  </body>
</html>
