@import "bootstrap";
@import "font-awesome";

.avatar {
  border-radius: 50%;
  margin: 0 auto;
  width: 100%;
}

.avatar-med {
  max-width: 250px;
}

.avatar-small {
  max-width: 100px;
}

.card {
    margin-bottom: 5px;
}

.card-container {
    padding: 3px;
}

.container {
    margin-top: 20px;
}

.footer {
    bottom: 0;
    position: relative;
    width: 100%;
}

.nested-fields {
    margin-bottom: 10px;
}

.right {
    float: right;
}