@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700,800,900');
:root {
	--grey_dark: #2e2e2e;
	--grey_light: #6b6b6b;
	--pink: #c7007c;
	--yellow: #ffcd48;
  --blue: #378eff;
  --dark_blue: #1e6ed6;
	--white: #ffffff;
  --light_blue: #ddf6fa;
  --card: #f3f3f3;
}

body {
  font-family: 'Catamaran', sans-serif;
  color: var(--grey_dark);
}

.body-padding {
  padding-bottom: 4em;
}

.navbar-brand img {
  height: 20px;
  margin-top: -10px;
}

h1 {
  font-size: 3.5em;
  font-weight: 900;
  color: black;
  border-bottom: 8px dotted var(--pink);
  text-decoration: none;
  width: auto;
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 600;
}

h5 {
  font-weight: 500;
}

.alert {
  border-radius: 0 !important;
}

.alert-warning {
  background: var(--yellow);
}

.alert-info, .alert-success {
  background: var(--blue);
  color: var(--white);
}

.alert-danger {
  background: var(--pink);
  color: var(--white);
}

.avatar {
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding-top: 100%;
}

.avatar-med {
  max-width: 250px;
}

.avatar-small {
  max-width: 100px;
}

.avatar-half {
  width: 50%;
}

.badge-info {
  color: var(--white);
  background: var(--pink);
}

.blue {
  background: var(--blue);
  color: var(--white);
}

.blue .fa-inverse, .blue-text {
  color: var(--blue);
}

.btn {
  border-radius: 0;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}

.btn-intro {
  background: var(--blue);
  border-radius: 900px;
  color: var(--white);
  font-size: 2.5em;
  font-weight: 800;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.btn-intro:hover {
  background: var(--pink);
  color: var(--white);
}

.card {
  border: none;
  background: var(--card);
  margin-bottom: 10px;
  border-radius: 0;
  padding: 1em;
}

.card-footer {
  background: none;
  border: none;
}

.card-header {
  border: none;
  background: none;
}

.card-container {
  padding: 3px;
}

.center {
  text-align: center;
}

.container {
  margin-top: 20px;
}

.form-control {
  border-radius: 0;
}

.huge-logo {
    width: 100%;
}

.big-logo {
  width: 50%;
}

.large-text {
  font-size: 4em;
}

.main-header {
  background-image: linear-gradient(var(--white), var(--light_blue));
  padding-bottom: 7em;
  text-align: center;
  clip-path: polygon(0 0,
                       100% 0,
                       100% 100%,
                       0 calc(100% - 5vw)
  );
}

.main-header h1 {
  border: none;
}

.conduct-header {
  background-image: linear-gradient(var(--white), var(--light_blue));
  padding-bottom: 7em;
  text-align: center;
  clip-path: polygon(0 0,
                       100% 0,
                       0 100%,
                       0 calc(100% - 5vw)
  );
}

.jumbotron h1, .description h1 {
  border-bottom: none;
}

.magenta {
    background: var(--pink);
}

.magenta-text {
  color: var(--pink);
}

.med {
  width: 30%;
}

.navbar {
  background-color: white !important;
  font-size: 1.2em;
}

.navbar a, .navbar span {
  color: var(--grey_light) !important;
}

.nested-fields {
  margin-bottom: 10px;
}

.next-meetup-card {
  background: var(--yellow);
}

.page-bg {
  background: var(--white);
}

.right {
  float: right;
}

.section-title {
  color: var(--pink);
}

.t-row {
  display: table-row;
}

.t-cell {
  display: table-cell;
}

.v-center {
  vertical-align: center !important;
}

.value {
  padding-bottom: 4em;
}

#description {
  color: var(--white);
  padding-top: 1em;
  padding-bottom: 4em;
}

#mission {
  color: var(--grey_light);
  padding-top: 4em;
  padding-bottom: 4em;
}

#subtitles-pages {
  color: var(--grey_light);
}

#values {
  padding-top: 4em;
  background-image: linear-gradient(var(--blue), var(--dark_blue));
  padding-bottom: 1em;
  text-align: center;
  clip-path: polygon(0 0,
                       100% 0,
                       100% calc(100% - 5vw),
                       0 100%
  );
}

@media (max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 700px) {
  .svg--sm {
    display: none;
  }
}