@import "bootstrap";
@import "font-awesome";

.card {
    margin-bottom: 5px;
}

.card-container {
    padding: 3px;
}

.container {
    margin-top: 20px;
}

.footer {
    bottom: 0;
    position: relative;
    width: 100%;
}

.nested-fields {
    margin-bottom: 10px;
}

.right {
    float: right;
}