<h1> Categories </h1> 

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name.capitalize %></td>
      <td><%= link_to 'Show', category_path(category) %></td>
      <td><%= link_to 'Edit', edit_category_path(category) %></td>
      <td><%= link_to 'Destroy', category_path(category),
              method: :delete,
              data: { confirm: 'Are you sure, bro?' } %></td>
    </tr>
  <% end %>
</table>