<h1 class="display-1">Activities</h1>
<hr/>

<% @activities.each do |activity| %>
  <div class="card">
    <div class="card-body">
      <p><%= activity.user.username %></p>
      <p>ha hecho lo que sea</p>
      <p><%= activity.activity_title %></p>
    </div>
  </div>
<% end %>