<h1 class="display-1">Activities</h1>
<hr/>

<% @activities.each do |activity| %>
  <div class="card">
    <div class="card-body">
      <p><%= link_to activity.user.username, "/"+activity.user.username %>
      has done a <%= activity.objective_type.downcase%> : "
      <% if activity.objective_type != "Proposal"%>
        <%= link_to activity.activity_title, meetup_path(activity.objective_id) %>
      <% else %>
        <%= link_to activity.activity_title, proposal_path(activity.objective_id) %>
      <% end %>
      "
      </p>
    </div>
  </div>
<% end %>