<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= @report.title.capitalize %></h4>
    <h6 class="card-subtitle mb-2 text-muted"><%= @report.type_of.to_s %></h6>
    <p class="card-text"><%= @report.description.capitalize %></p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>